<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.NavigationDao">
    <cache/>

    <!--查询所有的导航栏-->
    <select id="findAll" resultType="com.fc.bean.Navigation">
        select * from navigation
    </select>

    <!--根据导航栏id查询对应的歌曲-->
    <select id="findMusicsById" resultType="com.fc.vo.MusicVo">
        select music.id, music.music_name, music.music_mp3_url, album_name, navigation_name, user.name as artistName from music
        inner join album
        on music.album_id = album.id
        inner join navigation n
        on music.navigation_id = n.id
        inner join user
        on user.id = music.artist_id
        where n.id = #{id}
    </select>
</mapper>